root = true

[*]
charset = utf-8
end_of_line = CRLF # Pas sûr mais c'est le type d'end of line que l'on a utilisé sauf pour JSON
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

[*.{js,json}]
indent_style = space
indent_size = 2

[*.json]
end_of_line = CRLF # Git le change en CRLF selon les préférences de l'utilisateur

[*.py]
indent_style = tab

[*.dart]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
